form {
    font: 14px Stem-Regular, arial, sans-serif;
    border: 1px solid black;
    -webkit-border-radius: 20px;
    color: #777991;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

input[type=text], input[type=password] {
    text-align: center;
    -webkit-border-radius: 4px;
    width: auto;
    padding: 15px 20px;
    margin 10px 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #050c26;
    box-sizing: border-box;
    font: 14px Stem-Regular, arial, sans-serif;
    color: #777991;
}

button {
    font: 16px Stem-medium, arial, sans-serif;
    background-color: #454cee;
    -webkit-border-radius: 8px;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

button:hover {
    opacity: 0.9;
}

.container {
    padding: 20px;
}