form {
    font: 14px Stem-Regular, arial, sans-serif;
    border: 1px solid black;
    -webkit-border-radius: 20px;
    color: #777991;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.container {
    padding: 20px;
}